// $headerPrimary: #01161b;
$headerPrimary: #fff;
$parentPagePrimary: #000;
$layoutPage: #fff;

$aganithaBlue: #096291;

$section1: #f3f3f3;

$dark1: #906291;
$dark2: #650991;

$light1: #e0baf0;
$light2: #baf0e0;
$light3: #a0daf9;
