@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles/variables";
@import "./styles/mixins";

//bootstrap class tweaks
.h4 {
  font-weight: bold;
}

.app {
  width: 100%;
  height: 100%;
}

.card-text {
  overflow: hidden;
}

//section containers

.nav {
  height: 4rem;
  position: relative;
  z-index: 2;
  box-shadow: 0px 0px 38px 8px rgba(0, 0, 0, 0.38);
}

.header {
  background-color: $headerPrimary;
  color: black;
  &_image {
    width: 30rem;
  }

  &_logo {
    object-fit: contain;
    width: 10rem;
  }

  &_info {
    &_title {
      font-size: 20rem;
      color: black;
    }
    &_description {
    }
    &_button {
      width: 10rem;
    }
  }
}

.mainpagesegue {
  padding: 2rem;
  background-color: $dark1;
  width: 100%;
  color: black;
}

.searchContainer {
  &_button {
    background-color: #1376ff;
    color: white;
  }
}

.lookup {
  transform: translateY(-1rem);
  background-color: $light3;
  width: 60%;
  border-radius: 5px;
  padding: 2rem;

  &_description {
    @include respond(phonex) {
      display: none;
    }
  }
  &_text {
    text-align: center !important;
  }
}

.highlights {
  padding: 3rem 0;
  &_heading {
    width: 100%;

    &_inner {
      width: 75%;
      margin-bottom: 3rem;
    }
  }

  &_cardContainer {
    width: 100%;
  }

  &_card {
    &_img {
      object-fit: cover;
      height: 50%;
    }
  }
}

.pageFindings {
  background-color: $section1;
  padding: 3rem 0;
  &_card {
    &_imageContainer {
      display: flex;
      justify-content: center;
      padding: 1rem;
    }
    &_img {
      border-radius: 5px;
      width: 3rem;
    }
  }
}

.wordCloudContainer {
  border: rgba(104, 103, 103, 0.24) solid 1px;
  border-radius: 5px;
}

.subscribe {
  background-color: $aganithaBlue;
  &_card {
    width: 40%;
  }
}
